body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #13131e;
  font-family: "Poppins", sans-serif;
}

.heading {
  margin: auto;
  font-size: 4rem;
  color: rgb(109 109 109);
  text-align: center;
}

.card {
  /* width: 400px;
        height: 600px;
        margin: auto;
        background-color: #2a456c;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 1.5rem;
        color: #272727;
        padding: 10px; */
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.card h3 {
  font-size: 32px;
  color: #030c1a;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 25px;
  margin-bottom: 20px;
}

/* .card input {
        width: 20rem;
        height: 2.5rem;
        font-size: 1.5rem;
        border: none;
        outline: none;
        border-radius: 1.5rem;
        background: transparent;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-left: 0.9rem;
    } */
.card input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
/* .card input:focus {
  background-color: #13131e;
  color: #fff;
} */
.btn {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #030c1a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
.card p {
  width: 65%;
  height: 2.5rem;
  border-radius: 1rem;
  background-color: #303c4e;
  color: #ffffff;
  text-align: center;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

span:hover {
  background: #a0a0a0;
}
span:active {
  background: #fff;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: #000;
  text-decoration-thickness: 2px;
}
.nav {
  position: fixed;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 5px;
}
